<h1>{{title}}</h1>
<section>
    <div>
        <label for="newTask">
            <p>Wpisz zadanie:</p>
            <input
                type="text"
                name="newTask"
                id="newTask"
                placeholder="Wpisz zadanie..."
                [(ngModel)]="text"
            >
        </label>
        <button
            type="button"
            class="btn btnDark"
            (click)="addTask()"
            [disabled]="!text.trim()"
        >
            Dodaj
        </button>
    </div>
    <div>
        <label>
            <p>Wybierz liczbę zadań</p>
            <input
                type="number"
                class="limit"
                min="1"
                [(ngModel)]="limit"
            >
        </label>
        <label>
            <p>Wyświetl zadania:</p>
            <select
                class="option"
                [(ngModel)]="option"
            >
                <option value="false">Nie zrobione</option>
                <option value="true">Zrobione</option>
            </select>
        </label>
        <button
            type="button"
            class="btn btnDark"
            (click)="loadTasks()"
        >
            Załaduj
        </button>
    </div>
</section>
<hr>
<section class="taskList">
    <div *ngIf="tasks.length > 0 else Loading">
        <div
            *ngFor="let task of tasks"
            class="task"
            [ngClass]="task.completed ? 'done': null"
        >
            <p>{{task.title|titlecase}}</p>
            <button
                type="button"
                class="btn btnRed"
                (click)="removeTaks(task.id)"
            >
                Usuń
            </button>
            <button
                type="button"
                class="btn btnDark"
                (click)="doneTask(task.id)"
                [disabled]="task.completed"
            >
                Zrobione
            </button>
        </div>
    </div>
    <ng-template #Loading>
        <div class="task">
            <p>Ładuje listę...</p>
        </div>
    </ng-template>
</section>
